.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #2c3e50;
}

.mission,
.rocket {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  margin: 0.5rem;
  color: #2c3e50;
}

.data {
  display: flex;
}

.col {
  flex: 1em;
}

.header {
  text-align: center;
  color: #bf0000;
}

.timing {
  text-align: center;
  color: #ff6300;
}

.actions {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.actions button {
  border: 0;
  background: #004b64;
  color: white;
  padding: 0.5em;
  margin: 0 0.5em;
  border-radius: 0.2em;
}
